<footer class="site-footer">

  <div class="wrapper">
    <h2 class="footer-heading">{{ site.description | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
          </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
          {% include social.html %}
      </div>

      <div class="footer-col footer-col-3">
        <p><a href="https://www.fun.ac.jp/en/">Future University Hakodate</a></p>
        <p><a href="http://comet.dlsu.edu.ph">Center for Complexity and Emerging Technologies (COMET)</a></p>
        <p><a href="https://www.dlsu.edu.ph/">De La Salle University</a></p>
      </div>
    </div>

    <span>© {{ "now" | date: "%Y" }} {{ site.author | escape }}</span>

  </div>

</footer>
